<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{template :: layout(~{::title},~{::link},~{::script},~{::body/content()})}">
<head>
<link >
<script>
</script>
<!--/* (2) */-->
<title>Create Staff Information</title>
</head>
<body>
	<div id="wrapper" class="container-fluid">
		<div class="container">
			<h1 class="my-5">編集</h1>

			<form th:object="${AVIdolDataDto}" action="/AVIdolMaster/regit" method="post">
				<table width=70%>
					<tr>
						<th><a th:href="*{DATA_PATH}" target=_blank rel="noopener">
								<p style="position: relative; height: 500px; overflow: hidden;">
									<img th:src="*{IMAGE_PATH}" th:alt="*{NAME}" height="500px"
										style="position: relative; top: 0px; left: 0px">
								</p>
						    </a>
							<input type="hidden" th:field="*{IMAGE_PATH}">
						</th>
						<td valign="top" align="left"	>
							 <table>
							   <tr th:if="${validationError}" th:each="error : ${validationError}">
							     <td style="color:red;" th:text="${error}"></td>
							   </tr>
							 </table>			
							 		
							<table class="table-borderd table-striped" >
								<tr>
									<th>ID</th>
									<td><input type="text" th:field="*{ID}" th:errorclass= "fieldError"></td>
								</tr>
								<tr>
									<th>DATA_PATH</th>
									<td><input type="text" th:field="*{DATA_PATH}"></td>
								</tr>
								<tr>
									<th>名前</th>
									<td><input type="text" th:field="*{NAME}" >
									<span th:if="${#fields.hasErrors('NAME')}" th:errors="*{NAME}"></span>
									</td>
								</tr>
								<tr>
									<th>フリガナ</th>
									<td><input type="text" th:field="*{FURIGANA}">
									<span th:if="${#fields.hasErrors('FURIGANA')}" th:errors="*{FURIGANA}"></span>
									</td>
								</tr>
								<tr>
									<th>タイプ</th>
									<td><input type="text" th:field="*{TYPE}"></td>
								</tr>
								<tr>
									<th>身長</th>
									<td><input type="text" th:field="*{HEIGHT}"></td>
								</tr>
								<tr>
									<th>誕生日</th>
									<td><input type="text" th:field="*{BRITHDAY}"></td>
								</tr>
								<tr>
									<th>血液型</th>
									<td><input type="text" th:field="*{BLOOD_TYPE}"></td>
								</tr>
								<tr>
									<th>B</th>
									<td><input type="text" th:field="*{THREE_SIZE_B}"></td>
								</tr>
								<tr>
									<th>W</th>
									<td><input type="text" th:field="*{THREE_SIZE_W}"></td>
								</tr>
								<tr>
									<th>H</th>
									<td><input type="text" th:field="*{THREE_SIZE_H}"></td>
								</tr>
								<tr>
									<th>出身地</th>
									<td><input type="text" th:field="*{BRITHPLACE}"></td>
								</tr>
								<tr>
									<th>趣味</th>
									<td><input type="text" th:field="*{HOBBY}"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<input type="submit" class="btn btn-outline-primary" name="post"
					value="登録">
					
			</form>
			<form th:object="${AVIdolDataDto}" action="/AVIdolMaster/delete" method="post">
				<input type="submit" class="btn btn-outline-primary" name="post"
					value="削除">
				<input type="hidden" name="ID" th:value="*{ID}" >
				<input type="hidden" name="NAME" th:value="*{NAME}" >
				<input type="hidden" name="TYPE" th:value="*{TYPE}" >
			</form>
		</div>
	</div>
</body>
</html>