<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>AV IDOL MASTER</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/ajax.js}"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/upload.css}">
<link rel="stylesheet" th:href="@{/body.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">
<script>
$(document).ready(function() {
    $('#fav-table').tablesorter({
        headers: {
            2: { sorter: false }
        }
    } );
});
</script>
</head>
<body>
	<div id="wrapper" class="container-fluid">
		<div class="Header">ヘッダーを固定する</div>
		<div class="Contents">
			<form method="POST" action="/AVIdolMaster/list">
				<table>
					<tr>
						<th>検索</th>
						<td><input type="text" name="idolNo" value="" size="30"
							id="searchId"></input></td>
						<td><input type="submit" value="送信" size="30"></input> <font
							color="#ff0000"><th:block th:text="${errorMessage}"></th:block></font>
						</td>
					</tr>
				</table>
			</form>
			<div th:if="${AVIdolDataList}">
				<div class="sticky_table_wrapper">
					<table id="fav-table"
						class="table_sticky table table-borderd table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>名前</th>
								<th></th>
								<th>ふりがな</th>
								<th>タイプ</th>
								<th>身長</th>
								<th>誕生日</th>
								<th>血液型</th>
								<th>B</th>
								<th>W</th>
								<th>H</th>
								<th>出身地</th>
								<th>趣味</th>
								<th>編集</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="IdolData : ${AVIdolDataList}" th:object="${IdolData}">
								<td th:text="*{ID}"></td>
								<td>
									<a th:href="*{DATA_PATH}" th:text="*{NAME}" target=_blank rel="noopener"></a>
								</td>
								<td>
									<p style="position:relative;width: 60px;overflow: hidden;">
									<img th:src="*{IMAGE_PATH}" th:alt="*{NAME}" width="60" style="position:relative; top: 0px; left: 0px">
									</p>
								</td>
								<td th:text="*{FURIGANA}"></td>
								<td th:text="*{TYPE}"></td>
								<td th:text="*{HEIGHT}"></td>
								<td th:text="*{BRITHDAY}"></td>
								<td th:text="*{BLOOD_TYPE}"></td>
								<td th:text="*{THREE_SIZE_B}"></td>
								<td th:text="*{THREE_SIZE_W}"></td>
								<td th:text="*{THREE_SIZE_H}"></td>
								<td th:text="*{BRITHPLACE}"></td>
								<td th:text="*{HOBBY}"></td>
					            <td>
					                <form action="/AVIdolMaster/detail" method="post">
					                    <input type="submit" class="btn btn-outline-primary" name="edit" value="詳細">
					                    <input type="hidden" name="ID" th:value="*{ID}">
					                </form>
					            </td>							
					       	</tr>
						</tbody>
					</table>

				</div>
        <div th:fragment='paginationbar'>
            <ul>
                <li th:class="${page.first} ? 'disabled':''" style="display:inline">

                    <div th:if="${not page.first}" th:href="@{${url}(page=(${page.totalPages}-1))}" style="display:inline">
		                <form action="/AVIdolMaster/list" method="post" style="display:inline" class="page-item">
		                    <input type="submit"  name="list" th:value="先頭" class="btn btn-outline-primary">
		                    <input type="hidden" name="page" th:value="0" >
		                    <input type="hidden" name="idolNo" value="" > 
		                </form>
                    </div>
                </li>

                <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'  style="display:inline">
                	<div th:if='${i}!=${page.number}' style="display:inline">
		                <form action="/AVIdolMaster/list" method="post" style="display:inline" class="page-item">
		                    <input type="submit"  name="list" th:value="${i+1}" class="btn btn-outline-primary">
		                    <input type="hidden" name="page" th:value="${i}" >
		                    <input type="hidden" name="idolNo" value="" > 
		                </form>
                    </div>
               	<div th:if='${i}==${page.number}' style="display:inline">
		                <form action="/AVIdolMaster/list" method="post" style="display:inline" class="page-item">
		                    <input type="submit"  name="list" th:value="${i+1}" class="btn btn-outline-primary" disabled>
		                    <input type="hidden" name="page" th:value="${i}" >
		                    <input type="hidden" name="idolNo" value="" > 
		                </form>
                </div>

                </li>
                <li th:class="${page.last} ? 'disabled':''" style="display:inline">
                    <div th:if="${not page.last}" style="display:inline">
		                <form action="/AVIdolMaster/list" method="post" style="display:inline" class="page-item">
		                    <input type="submit"  name="list" th:value="末尾" class="btn btn-outline-primary">
		                    <input type="hidden" name="page" th:value=${page.totalPages}-1 >
		                    <input type="hidden" name="idolNo" value="" > 
		                </form>
                    
                    </div>
                </li>
            </ul>
        </div>
			</div>

		</div>
		<div class="Footer">フッターを固定する</div>
	</div>
</body>
</html>