<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{template :: layout(~{::title},~{::body/content()})}">
<head>
<!--/* (2) */-->
<title>Control</title>
</head>
<body>
	<div id="wrapper" class="container-fluid">

		<div class="Contents">

			<div class="tabs">
				<input id="all" type="radio" name="tab_item" checked> <label
					class="tab_item" for="all">カレンダー</label> <input id="programming"
					type="radio" name="tab_item"> <label class="tab_item"
					for="programming">ファイル</label> <input id="design" type="radio"
					name="tab_item"> <label class="tab_item" for="design">入力</label>
				<div class="tab_content" id="all_content">
					<div class="tab_content_description">
						<table>
							<tr>
								<th>カレンダー</th>
								<td><input type="date" name="date"></td>
								<td><input type="submit" value="送信"></td>
							</tr>

						</table>
					</div>
				</div>
				<div class="tab_content" id="programming_content">
					<div class="tab_content_description">
						<table>
							<tr>
								<th>ファイル</th>
								<td><input type="file" name="datafile"></td>
								<td><input type="submit" value="送信"></td>
							</tr>
							<tr>
								<th>ドラッグ＆ドロップ</th>
								<td>
									<div id="dragdroparea">ここにドロップしてください。</div>
								</td>
								<td>
									<div id="status1"></div>
								</td>
							</tr>

						</table>
					</div>
				</div>
				<div class="tab_content" id="design_content">
					<div class="tab_content_description">
						<table>
							<tr>
								<th>必須入力</th>
								<td><input type="text" name="name" required
									placeholder="キーワードを入力"></td>
								<td><input type="submit" value="送信"></td>
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
</body>
</html>