<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
  </head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $("#p1").text("");
    $("#p2").text("");
    var json1 = {
      bangou: "1",
      name: "鈴木",
    };
    $.ajax({
      url: "https://zipcloud.ibsnet.co.jp/api/search?zipcode=5960801",
      type: "GET",
      dataType: "json",
    })
      .done(function (data1, textStatus, jqXHR) {
        $("#p1").text(jqXHR.status); //例：200
        $("#p2").text(JSON.stringify(data1));
      })
      .fail(function (jqXHR, textStatus, errorThrown) {
        $("#p1").text(jqXHR.status); //例：404
      })
      .always(function () {});
  </script>
    <body>
    <h1>第一章 Spring Boot＋Thymeleaf で”Hello World”を作成する</h1>
    <h2><span th:text="${message}"></span></h2>
  </body>
</html>